/* main */
:root {

}

body {
  font-family: 'Josefin Sans', sans-serif;
}

header, main, footer {
  margin: 2rem;
}

.img-responsive {
  width: 100%;
  height: auto;
}

/* Typo */
.logo-text {
  font-size: xx-large;
  font-weight: bolder;
  font-style: italic;
}

/* Forms */
.label-required:after {
  content: ' *';
}

/* Hero section */
#hero {
  margin: 7rem 0;
}