/* Main */
body {
    font-family: 'Josefin Sans', sans-serif;
    line-height: 1.4;
}
@media(prefers-color-scheme: dark) {
    body {
        background-color: #212121;
        color: #fafafa;
    }
}

body > div {
    max-width: 1000px;
    margin: auto;
}

body > div > header,
body > div > main,
body > div > footer {
    margin: 2rem;
}

.img-responsive {
    width: 100%;
    height: auto;
}

.not-margin,
.con-content {
    margin: 0;
    padding: 10px 10px 0;
}

section {
    margin-top: 10px;
    margin-bottom: 2rem;
}

.svg-wrapper {
    display: flex;
    align-items: center;
    height: 100%;
}

.svg-wrapper > svg {
    display: block;
    margin: 0 auto;
    text-align: center;
}

/* Typo */
h1 {
    margin-top: 1.5em;
    font-size: 3rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: .7em;
}

p {
    margin-bottom: .5em;
}

.logo-text {
    font-size: xx-large;
    font-weight: bolder;
    font-style: italic;
}

.headline {
    font-size: larger;
    font-weight: bolder;
}

section > h2 {
    margin-bottom: 1rem;
}

/* Forms */
.label-required:after {
    content: ' *';
}

/* Hero section */
#hero {
    margin: 7rem 0;
    font-size: 1.4em;
}

.portrait {
    display: none;
    max-width: 20rem;
    border-radius: 12px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.05);
}

@media(min-width: 601px) {
    .portrait {
        display: block;
    }
}

.socials-wrapper {
    display: flex;
    align-items: center;
    margin-left: -5px;
}

/* Skills */
.skills-wrapper {
    display: grid;
    grid-gap: 0.7rem;
    margin-left: -5px;
}
.skills-wrapper.advanced {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    margin-bottom: 1rem;
}
.skills-wrapper.medium {
    grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
}

.skills-wrapper .vs-button__content {
    justify-content: left;
}

.skill {
    display: flex;
    align-items: center;
    justify-content: left;
}

.skill-icon > * {
    height: 100%;
    min-width: 20px;
    margin-right: 8px;
    margin-left: 5px;
}

.skill-content {
    text-align: left;
}

.skills-wrapper.advanced .skill-content {
    min-width: 100px;

}
.skills-wrapper.medium .skill-content {
    min-width: 75px;
}

/* CV */
.job-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 15px 20px;
    margin: 0 0 20px;
    border-radius: 15px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.05);
}

.job-icon {
    display: flex;
    align-items: center;
    height: 50px;
    width: 50px;
    margin-right: 1rem;
    font-size: 1.2rem;
    color: #195bff;
    background-color: #fff;
    border-radius: 50%;
}
.job-content {
    display: flex;
    flex-direction: column;
}

.job-title {
    font-size: 1.1em;
    font-weight: 600;
}

/* Blog */
.vs-card__text p {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.vs-card__text button {
    margin-left: 0;
}
.vs-card__group .vs-card__group-cards {
    overflow-x: hidden;
}
