<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="utf-8">
    <title>Kilian Domaratius</title>
    <meta name="description" content="Portfolio page for Kilian Domaratius">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="Kilian Domaratius">
    <meta property="og:description" content="Portfolio page for Kilian Domaratius">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://kdomaratius.de">
    <meta property="og:image" content=""><!-- @todo -->

    <link rel="manifest" href="site.webmanifest">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">

    <meta name="theme-color" content="">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/5c942baa27.js" crossorigin="anonymous"></script>

    <!-- old Vuesax 3, TODO delete when Vuesax 4 ready-->
    <link href="https://cdn.jsdelivr.net/npm/vuesax/dist/vuesax.css" rel="stylesheet">

    <link href="https://unpkg.com/vuesax@4.0.1-alpha.25/dist/vuesax.min.css" rel="stylesheet">

    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="app">
        <header>
            <div>
                <!--
                <vs-navbar padding-scroll center-collapsed v-model="active">
                    <template #left>
                        <div class="logo-wrapper">
                            <span class="logo-text">KD</span>
                        </div>
                    </template>

                    <vs-navbar-item :active="active == 'skills'" href="#skills">
                        Skills
                    </vs-navbar-item>
                    <vs-navbar-item :active="active == 'cv'" href="#cv">
                        CV
                    </vs-navbar-item>
                    <vs-navbar-item :active="active == 'blog'" href="#blog">
                        Blog
                    </vs-navbar-item>
                    <template #right>
                        <vs-button :href="contact.mailto">Kontakt</vs-button>
                    </template>
                </vs-navbar>
            -->
            </div>
        </header>
        <main>
            <section id="hero">
                <vs-row>
                    <vs-col vs-type="flex" w="6" xs="12">
                        <h1>Kilian Domaratius</h1>
                        <p>Webentwickler.</p>
                        <div class="socials-wrapper">
                            <vs-button :href="contact.mailto">Kontakt</vs-button>
                            <vs-button v-for="social in contact.socials" icon flat blank :color="social.color"
                                class="social" :href="social.url" :title="social.title"><i
                                    :class="social.iconClass"></i></vs-button>
                        </div>
                    </vs-col>
                    <vs-col vs-type="flex" justify="center" offset="1" w="4">
                        <vs-row justify="center">
                            <vs-col>
                                <img class="img-responsive portrait" src="img/misc/portrait.jpg" alt="Portrait">
                            </vs-col>
                        </vs-row>
                    </vs-col>
                </vs-row>
            </section>
            <section id="skills">
                <h2>Skills</h2>
                <div class="skills-wrapper advanced">
                    <template v-for="skill in orderedSkills">
                        <!-- Advanced skills (minimum 50% experience) -->
                        <vs-button v-if="skill.show && skill.percent >= 50" flat icon blank size="large"
                            :href="skill.url" :color="skill.color">
                            <div class="skill">
                                <div class="skill-icon">
                                    <i :class="skill.iconClass"></i>
                                </div>
                                <div class="skill-content">
                                    <span class="skill-name">{{ skill.name }}</span>
                                    <!-- old Vuesax 3, TODO change when Vuesax 4 ready-->
                                    <vs-progress :percent="skill.percent" :color="skill.color">HEX</vs-progress>
                                </div>
                            </div>
                        </vs-button>
                    </template>
                </div>
                <div class="skills-wrapper medium">
                    <template v-for="skill in orderedSkills">
                        <!-- Medium skills (max 49% experience) -->
                        <vs-button v-if="skill.show && skill.percent < 50" flat icon blank :href="skill.url"
                            :color="skill.color">
                            <div class="skill">
                                <div class="skill-icon">
                                    <i :class="skill.iconClass"></i>
                                </div>
                                <div class="skill-content">
                                    <span class="skill-name">{{ skill.name }}</span>
                                    <!-- old Vuesax 3, TODO change when Vuesax 4 ready-->
                                    <vs-progress :percent="skill.percent" :color="skill.color">HEX</vs-progress>
                                </div>
                            </div>
                        </vs-button>
                    </template>
                </div>
            </section>
            <section id="cv">
                <h2>CV</h2>
                <template v-for="job in orderedJobs">
                    <vs-row v-if="job.show" class="job-wrapper">
                        <vs-col w="1" class="job-icon">
                            <template v-if="job.hasImage">
                                <img :src="'img/job/' + job.key + 'png'" :alt="job.name">
                            </template>
                            <template v-if="!job.hasImage">
                                <div class="svg-wrapper">
                                    <i v-if="job.isEducation" class="fas fa-graduation-cap"></i>
                                    <i v-if="job.isCertificate" class="fas fa-certificate"></i>
                                    <i v-if="!job.isEducation && !job.isCertificate" class="fas fa-briefcase"></i>
                                </div>
                            </template>
                        </vs-col>
                        <vs-col w="11" class="job-content-wrapper">
                            <div class="job-content">
                                <div class="job-title">{{ job.job }}</div>
                                <div class="job-name"><a v-if="job.url" :href="job.url"
                                        target="_blank">{{ job.name }}</a><template
                                        v-if="!job.url">{{ job.name }}</template></div>
                                <div class="job-time">{{ job.from }} - <template
                                        v-if="new Date(job.to) >= new Date()">Jetzt</template><template
                                        v-if="new Date(job.to) < new Date()">{{ job.to }}</template></div>
                            </div>
                        </vs-col>
                    </vs-row>
                </template>
            </section>
            <section id="blog">
                <h2>Blog</h2>
                <template v-for="post in blog.posts">
                    {{ post }}test
                </template>
            </section>
        </main>
        <footer>
            <vs-row>
                <vs-col>
                    <p class="headline">Kilian Domaratius</p>
                    <p>Interessiert? <vs-button :href="contact.mailto" transparent style="display: inline;">Schreiben
                            Sie mir!</vs-button>
                    </p>
                    <div class="socials-wrapper">
                        <vs-button v-for="social in contact.socials" icon flat blank :color="social.color"
                            class="social" :href="social.url" :title="social.title"><i :class="social.iconClass"></i>
                        </vs-button>
                    </div>
                    <p>&copy; {{ new Date().getFullYear() }} Kilian Domaratius
                        <vs-button transparent style="display: inline" @click="dialog.imprint=!dialog.imprint">Impressum
                        </vs-button>
                        <vs-button transparent style="display: inline" @click="dialog.privacy=!dialog.privacy">
                            Datenschutz</vs-button>
                    </p>
                </vs-col>
            </vs-row>
        </footer>

        <vs-dialog not-center blur v-model="dialog.privacy">
            <template #header>
                <h4 class="not-margin">Datenschutz</h4>
            </template>

            <div class="con-content">
                <h2>I. Datenschutz auf einen Blick</h2>
                <h3>Allgemeine Hinweise</h3>
                <p>Die folgenden Hinweise geben einen einfachen Überblick darüber, was mit Ihren personenbezogenen
                    Daten passiert, wenn Sie meine Website besuchen. Personenbezogene Daten sind alle Daten, mit
                    denen Sie persönlich identifiziert werden können. Ausführliche Informationen zum Thema
                    Datenschutz entnehmen Sie meiner unter diesem Text aufgeführten Datenschutzerklärung.</p>
                <h3>Datenerfassung auf dieser Website</h3>
                <p><strong>Wer ist verantwortlich für die Datenerfassung auf dieser Website?<br></strong>Die
                    Datenverarbeitung auf dieser Website erfolgt durch den Websitebetreiber. Dessen Kontaktdaten
                    können Sie dem Impressum dieser Website entnehmen.</p>
                <p><strong>Wie werden Ihre Daten erfasst?<br></strong>Ihre Daten werden zum einen dadurch erhoben,
                    dass Sie mir diese mitteilen. Hierbei kann es sich z.B. um Daten handeln, die Sie in ein
                    Kontaktformular eingeben.</p>
                <p>Andere Daten werden automatisch beim Besuch der Website durch meine IT-Systeme erfasst. Das sind
                    vor allem technische Daten (z.B. Internetbrowser, Betriebssystem oder Uhrzeit des
                    Seitenaufrufs). Die Erfassung dieser Daten erfolgt automatisch, sobald Sie meine Website
                    betreten.</p>
                <p><strong>Wofür nutze ich Ihre Daten?<br></strong>Ein Teil der Daten wird erhoben, um eine
                    fehlerfreie Bereitstellung der Website zu gewährleisten. Andere Daten können zur Analyse Ihres
                    Nutzerverhaltens verwendet werden.</p>
                <p><strong>Welche Rechte haben Sie bezüglich Ihrer Daten?<br></strong>Sie haben jederzeit das Recht
                    unentgeltlich Auskunft über Herkunft, Empfänger und Zweck Ihrer gespeicherten personenbezogenen
                    Daten zu erhalten. Sie haben außerdem ein Recht, die Berichtigung, Sperrung oder Löschung dieser
                    Daten zu verlangen. Hierzu sowie zu weiteren Fragen zum Thema Datenschutz können Sie sich
                    jederzeit unter der im Impressum angegebenen E-Mail-Adresse an mich wenden. Des Weiteren steht
                    Ihnen ein Beschwerderecht bei der zuständigen Aufsichtsbehörde zu.</p>
                <h2>II. Allgemeine Hinweise und Pflichtinformationen</h2>
                <h3>Datenschutz</h3>
                <p>Der Betreiber dieser Seiten nimmt den Schutz Ihrer persönlichen Daten sehr ernst. Ich behandle
                    Ihre personenbezogenen Daten vertraulich und entsprechend der gesetzlichen
                    Datenschutzvorschriften sowie dieser Datenschutzerklärung.</p>
                <p>Wenn Sie diese Website benutzen, werden verschiedene personenbezogene Daten erhoben.
                    Personenbezogene Daten sind Daten, mit denen Sie persönlich identifiziert werden können. Die
                    vorliegende Datenschutzerklärung erläutert, welche Daten ich erhebe und wofür ich sie nutze. Sie
                    erläutert auch, wie und zu welchem Zweck das geschieht.</p>
                <p>Ich weise darauf hin, dass die Datenübertragung im Internet (z.B. bei der Kommunikation per
                    E-Mail) Sicherheitslücken aufweisen kann. Ein lückenloser Schutz der Daten vor dem Zugriff durch
                    Dritte ist nicht möglich.</p>
                <p>Hinweis zur verantwortlichen Stelle</p>
                <p>Die verantwortliche Stelle für die Datenverarbeitung auf dieser Website ist:</p>
                <p>Kilian Domaratius</p>
                <p>(Kontaktdaten siehe <vs-button transparent style="display: inline"
                        @click="dialog.imprint=!dialog.imprint">Impressum
                    </vs-button>)</p>
                <p>E-Mail: <a href="mailto:info@tequilian.de?subject=tequilian.de | Datenschutz">info@tequilian.de</a>
                </p>
                <p>Verantwortliche Stelle ist die natürliche oder juristische Person, die allein oder gemeinsam mit
                    anderen über die Zwecke und Mittel der Verarbeitung von personenbezogenen Daten (z.B. Namen,
                    E-Mail-Adressen o. Ä.) entscheidet.</p>
                <h3>Widerruf Ihrer Einwilligung zur Datenverarbeitung</h3>
                <p>Viele Datenverarbeitungsvorgänge sind nur mit Ihrer ausdrücklichen Einwilligung möglich. Sie
                    können eine bereits erteilte Einwilligung jederzeit widerrufen. Dazu reicht eine formlose
                    Mitteilung per E-Mail an mich. Die Rechtmäßigkeit der bis zum Widerruf erfolgten
                    Datenverarbeitung bleibt vom Widerruf unberührt.</p>
                <h3>Beschwerderecht bei der zuständigen Aufsichtsbehörde</h3>
                <p>Im Falle datenschutzrechtlicher Verstöße steht dem Betroffenen ein Beschwerderecht bei der
                    zuständigen Aufsichtsbehörde zu. Zuständige Aufsichtsbehörde in datenschutzrechtlichen Fragen
                    ist der Landesdatenschutzbeauftragte des Bundeslandes Sachsen. Eine Liste der
                    Datenschutzbeauftragten sowie deren Kontaktdaten können folgendem Link entnommen werden:<br><a
                        href="https://www.bfdi.bund.de/DE/Infothek/Anschriften_Links/anschriften_links-node.html"
                        target="_blank"
                        rel="noopener nofollow">https://www.bfdi.bund.de/DE/Infothek/Anschriften_Links/anschriften_links-node.html</a>.
                </p>
                <h3>Recht auf Datenübertragbarkeit</h3>
                <p>Sie haben das Recht, Daten, die ich auf Grundlage Ihrer Einwilligung oder in Erfüllung eines
                    Vertrags automatisiert verarbeite, an sich oder an einen Dritten in einem gängigen,
                    maschinenlesbaren Format aushändigen zu lassen. Sofern Sie die direkte Übertragung der Daten an
                    einen anderen Verantwortlichen verlangen, erfolgt dies nur, soweit es technisch machbar ist.</p>
                <h3>SSL- bzw. TLS-Verschlüsselung</h3>
                <p>Diese Seite nutzt aus Sicherheitsgründen und zum Schutz der Übertragung vertraulicher Inhalte,
                    wie zum Beispiel Bestellungen oder Anfragen, die Sie an mir als Seitenbetreiber senden, eine
                    SSL-bzw. TLS-Verschlüsselung. Eine verschlüsselte Verbindung erkennen Sie daran, dass die
                    Adresszeile des Browsers von “http://” auf “https://” wechselt und an dem Schloss-Symbol in
                    Ihrer Browserzeile.</p>
                <p>Wenn die SSL- bzw. TLS-Verschlüsselung aktiviert ist, können die Daten, die Sie an mich
                    übermitteln, nicht von Dritten mitgelesen werden.</p>
                <h3>Auskunft, Sperrung, Löschung</h3>
                <p>Sie haben im Rahmen der geltenden gesetzlichen Bestimmungen jederzeit das Recht auf
                    unentgeltliche Auskunft über Ihre gespeicherten personenbezogenen Daten, deren Herkunft und
                    Empfänger und den Zweck der Datenverarbeitung und ggf. ein Recht auf Berichtigung, Sperrung oder
                    Löschung dieser Daten. Hierzu sowie zu weiteren Fragen zum Thema personenbezogene Daten können
                    Sie sich jederzeit unter der im Impressum angegebenen Adresse an mich wenden.</p>
                <h3>Widerspruch gegen Werbe-Mails</h3>
                <p>Der Nutzung von im Rahmen der Impressumspflicht veröffentlichten Kontaktdaten zur Übersendung von
                    nicht ausdrücklich angeforderter Werbung und Informationsmaterialien wird hiermit widersprochen.
                    Der Betreiber der Seiten behaltet sich ausdrücklich rechtliche Schritte im Falle der
                    unverlangten Zusendung von Werbeinformationen, etwa durch Spam-E-Mails, vor.</p>
                <h2>III. Datenerfassung auf dieser Website</h2>
                <h3>Server-Log-Dateien</h3>
                <p>Der Provider der Seiten erhebt und speichert automatisch Informationen in sogenannten
                    Server-Log-Dateien, die Ihr Browser automatisch an mich übermittelt. Dies sind:</p>
                <ul>
                    <li>Browsertyp und Browserversion</li>
                    <li>verwendetes Betriebssystem</li>
                    <li>Referrer URL</li>
                    <li>Hostname des zugreifenden Rechners</li>
                    <li>Uhrzeit der Serveranfrage</li>
                    <li>IP-Adresse</li>
                </ul>
                <p>Eine Zusammenführung dieser Daten mit anderen Datenquellen wird nicht vorgenommen.</p>
                <p>Die Erfassung dieser Daten erfolgt auf Grundlage von Art. 6 Abs. 1 lit. f DSGVO. Der
                    Websitebetreiber hat ein berechtigtes Interesse an der technisch fehlerfreien Darstellung
                    und der Optimierung seiner Website – hierzu müssen die Server-Log-Files erfasst werden.</p>
                <h3>Kontaktformular</h3>
                <p>Wenn Sie mich per Kontaktformular Anfragen zukommen lassen, werden Ihre Angaben aus dem
                    Anfrageformular inklusive der von Ihnen dort angegebenen Kontaktdaten zwecks Bearbeitung der
                    Anfrage und für den Fall von Anschlussfragen bei mir gespeichert. Diese Daten gebe ich nicht
                    ohne Ihre Einwilligung weiter.</p>
                <p>Die Verarbeitung dieser Daten erfolgt auf Grundlage von Art. 6 Abs. 1 lit. b DSGVO, sofern
                    Ihre Anfrage mit der Erfüllung eines Vertrags zusammenhängt oder zur Durchführung
                    vorvertraglicher Maßnahmen erforderlich ist. In allen übrigen Fällen beruht die Verarbeitung
                    auf meinem berechtigten Interesse an der effektiven Bearbeitung der an mich gerichteten
                    Anfragen (Art. 6 Abs. 1 lit. f DSGVO) oder auf Ihrer Einwilligung (Art. 6 Abs. 1 lit. a
                    DSGVO) sofern diese abgefragt wurde.</p>
                <p>Die von Ihnen im Kontaktformular eingegebenen Daten verbleiben bei mir, bis Sie mich zur
                    Löschung auffordern, Ihre Einwilligung zur Speicherung widerrufen oder der Zweck für die
                    Datenspeicherung entfällt (z.&nbsp;B. nach abgeschlossener Bearbeitung Ihrer Anfrage).
                    Zwingende gesetzliche Bestimmungen – insbesondere Aufbewahrungsfristen – bleiben unberührt.
                </p>
                <h3>Anfrage per E-Mail, Telefon oder Telefax</h3>
                <p>Wenn Sie mich per E-Mail, Telefon oder Telefax kontaktieren, wird Ihre Anfrage inklusive
                    aller daraus hervorgehenden personenbezogenen Daten (Name, Anfrage) zum Zwecke der
                    Bearbeitung Ihres Anliegens bei mir gespeichert und verarbeitet. Diese Daten geben wir nicht
                    ohne Ihre Einwilligung weiter.</p>
                <p>Die Verarbeitung dieser Daten erfolgt auf Grundlage von Art. 6 Abs. 1 lit. b DSGVO, sofern
                    Ihre Anfrage mit der Erfüllung eines Vertrags zusammenhängt oder zur Durchführung
                    vorvertraglicher Maßnahmen erforderlich ist. In allen übrigen Fällen beruht die Verarbeitung
                    auf meinem berechtigten Interesse an der effektiven Bearbeitung der an mich gerichteten
                    Anfragen (Art. 6 Abs. 1 lit. f DSGVO) oder auf Ihrer Einwilligung (Art. 6 Abs. 1 lit. a
                    DSGVO) sofern diese abgefragt wurde.</p>
                <p>Die von Ihnen an mich per Kontaktanfragen übersandten Daten verbleiben bei mir, bis Sie mich
                    zur Löschung auffordern, Ihre Einwilligung zur Speicherung widerrufen oder der Zweck für die
                    Datenspeicherung entfällt (z.&nbsp;B. nach abgeschlossener Bearbeitung Ihres Anliegens).
                    Zwingende gesetzliche Bestimmungen – insbesondere gesetzliche Aufbewahrungsfristen – bleiben
                    unberührt.</p>
                <h3>Cookies</h3>
                <p>Meine Internetseiten verwenden so genannte „Cookies“. Cookies sind kleine Textdateien und richten
                    auf Ihrem Endgerät keinen Schaden an. Sie werden entweder vorübergehend für die Dauer einer Sitzung
                    (Session-Cookies) oder dauerhaft (permanente Cookies) auf Ihrem Endgerät gespeichert.
                    Session-Cookies werden nach Ende Ihres Besuchs automatisch gelöscht. Permanente Cookies bleiben auf
                    Ihrem Endgerät gespeichert, bis Sie diese selbst löschen oder eine automatische Löschung durch Ihren
                    Webbrowser erfolgt.</p>
                <p>Teilweise können auch Cookies von Drittunternehmen auf Ihrem Endgerät gespeichert werden, wenn Sie
                    meine Seite betreten (Third-Party-Cookies). Diese ermöglichen mir oder Ihnen die Nutzung bestimmter
                    Dienstleistungen des Drittunternehmens (z.B. Cookies zur Abwicklung von Zahlungsdienstleistungen).
                </p>
                <p>Cookies haben verschiedene Funktionen. Zahlreiche Cookies sind technisch notwendig, da bestimmte
                    Webseitenfunktionen ohne diese nicht funktionieren würden (z.B. die Warenkorbfunktion oder die
                    Anzeige von Videos). Andere Cookies dienen dazu, das Nutzerverhalten auszuwerten oder Werbung
                    anzuzeigen.</p>
                <p>Cookies, die zur Durchführung des elektronischen Kommunikationsvorgangs (notwendige Cookies) oder zur
                    Bereitstellung bestimmter, von Ihnen erwünschter Funktionen (funktionale Cookies, z. B. für die
                    Warenkorbfunktion) oder zur Optimierung der Webseite (z.B. Cookies zur Messung des Webpublikums)
                    erforderlich sind, werden auf Grundlage von Art. 6 Abs. 1 lit. f DSGVO gespeichert, sofern keine
                    andere Rechtsgrundlage angegeben wird. Der Websitebetreiber hat ein berechtigtes Interesse an der
                    Speicherung von Cookies zur technisch fehlerfreien und optimierten Bereitstellung seiner Dienste.
                    Sofern eine Einwilligung zur Speicherung von Cookies abgefragt wurde, erfolgt die Speicherung der
                    betreffenden Cookies ausschließlich auf Grundlage dieser Einwilligung (Art. 6 Abs. 1 lit. a DSGVO);
                    die Einwilligung ist jederzeit widerrufbar.</p>
                <p>Sie können Ihren Browser so einstellen, dass Sie über das Setzen von Cookies informiert werden und
                    Cookies nur im Einzelfall erlauben, die Annahme von Cookies für bestimmte Fälle oder generell
                    ausschließen sowie das automatische Löschen der Cookies beim Schließen des Browsers aktivieren. Bei
                    der Deaktivierung von Cookies kann die Funktionalität dieser Website eingeschränkt sein.</p>
                <p>Soweit Cookies von Drittunternehmen oder zu Analysezwecken eingesetzt werden, werden wir Sie hierüber
                    im Rahmen dieser Datenschutzerklärung gesondert informieren und ggf. eine Einwilligung abfragen.</p>
                <h2>IV. Analyse-Tools und Werbung</h2>
                <h3>Google Analytics</h3>
                <p>Diese Website nutzt Funktionen des Webanalysedienstes Google Analytics. Anbieter ist die Google
                    Ireland Limited („Google“), Gordon House, Barrow Street, Dublin 4, Irland.</p>
                <p>Google Analytics verwendet sogenannte „Cookies“. Das sind Textdateien, die auf Ihrem Computer
                    gespeichert werden und die eine Analyse der Benutzung der Website durch Sie ermöglichen. Die durch
                    den Cookie erzeugten Informationen über Ihre Benutzung dieser Website werden in der Regel an einen
                    Server von Google in den USA übertragen und dort gespeichert.</p>
                <p>Die Speicherung von Google-Analytics-Cookies und die Nutzung dieses Analyse-Tools erfolgen auf
                    Grundlage von Art. 6 Abs. 1 lit. f DSGVO. Der Websitebetreiber hat ein berechtigtes Interesse an der
                    Analyse des Nutzerverhaltens, um sowohl sein Webangebot als auch seine Werbung zu optimieren. Sofern
                    eine entsprechende Einwilligung abgefragt wurde (z. B. eine Einwilligung zur Speicherung von
                    Cookies), erfolgt die Verarbeitung ausschließlich auf Grundlage von Art. 6 Abs. 1 lit. a DSGVO; die
                    Einwilligung ist jederzeit widerrufbar.</p>
                <p><strong>IP Anonymisierung</strong></p>
                <p>Wir haben auf dieser Website die Funktion IP-Anonymisierung aktiviert. Dadurch wird Ihre IP-Adresse
                    von Google innerhalb von Mitgliedstaaten der Europäischen Union oder in anderen Vertragsstaaten des
                    Abkommens über den Europäischen Wirtschaftsraum vor der Übermittlung in die USA gekürzt. Nur in
                    Ausnahmefällen wird die volle IP-Adresse an einen Server von Google in den USA übertragen und dort
                    gekürzt. Im Auftrag des Betreibers dieser Website wird Google diese Informationen benutzen, um Ihre
                    Nutzung der Website auszuwerten, um Reports über die Websiteaktivitäten zusammenzustellen und um
                    weitere mit der Websitenutzung und der Internetnutzung verbundene Dienstleistungen gegenüber dem
                    Websitebetreiber zu erbringen. Die im Rahmen von Google Analytics von Ihrem Browser übermittelte
                    IP-Adresse wird nicht mit anderen Daten von Google zusammengeführt.</p>
                <p><strong>Browser-Plugin</strong></p>
                <p>Sie können die Speicherung der Cookies durch eine entsprechende Einstellung Ihrer Browser-Software
                    verhindern; wir weisen Sie jedoch darauf hin, dass Sie in diesem Fall gegebenenfalls nicht sämtliche
                    Funktionen dieser Website vollumfänglich werden nutzen können. Sie können darüber hinaus die
                    Erfassung, der durch den Cookie erzeugten und auf Ihre Nutzung der Website bezogenen Daten (inkl.
                    Ihrer IP-Adresse) an Google sowie die Verarbeitung dieser Daten durch Google verhindern, indem Sie
                    das unter dem folgenden Link verfügbare Browser-Plugin herunterladen und installieren: <a
                        href="https://tools.google.com/dlpage/gaoptout?hl=de" target="_blank"
                        rel="noreferrer noopener nofollow">https://tools.google.com/dlpage/gaoptout?hl=de</a>.</p>
                <p><strong>Widerspruch gegen Datenerfassung</strong></p>
                <p>Mehr Informationen zum Umgang mit Nutzerdaten bei Google Analytics finden Sie in der
                    Datenschutzerklärung von Google:&nbsp;<a
                        href="https://support.google.com/analytics/answer/6004245?hl=de" target="_blank"
                        rel="noreferrer noopener nofollow">https://support.google.com/analytics/answer/6004245?hl=de</a>.
                </p>
                <p><strong>Auftragsverarbeitung</strong></p>
                <p>Wir haben mit Google einen Vertrag zur Auftragsverarbeitung abgeschlossen und setzen die strengen
                    Vorgaben der deutschen Datenschutzbehörden bei der Nutzung von Google Analytics vollständig um.</p>
                <p><strong>Demografische Merkmale bei Google Analytics</strong></p>
                <p>Diese Website nutzt die Funktion „demografische Merkmale“ von Google Analytics. Dadurch können
                    Berichte erstellt werden, die Aussagen zu Alter, Geschlecht und Interessen der Seitenbesucher
                    enthalten. Diese Daten stammen aus interessenbezogener Werbung von Google sowie aus Besucherdaten
                    von Drittanbietern. Diese Daten können keiner bestimmten Person zugeordnet werden. Sie können diese
                    Funktion jederzeit über die Anzeigeneinstellungen in Ihrem Google-Konto deaktivieren oder die
                    Erfassung Ihrer Daten durch Google Analytics wie im Punkt „Widerspruch gegen Datenerfassung“
                    dargestellt generell untersagen.</p>
                <p><strong>Speicherdauer</strong></p>
                <p>Bei Google gespeicherte Daten auf Nutzer- und Ereignisebene, die mit Cookies, Nutzerkennungen
                    (z.&nbsp;B. User ID) oder Werbe-IDs (z.&nbsp;B. DoubleClick-Cookies, Android-Werbe-ID) verknüpft
                    sind, werden nach 14 Monaten anonymisiert bzw. gelöscht. Details hierzu ersehen Sie unter folgendem
                    Link:&nbsp;<a href="https://support.google.com/analytics/answer/7667196?hl=de" target="_blank"
                        rel="noreferrer noopener nofollow">https://support.google.com/analytics/answer/7667196?hl=de</a>
                </p>
            </div>

            <template #footer>
                <div class="con-footer">
                    <vs-button @click="dialog.privacy=false" transparent>
                        Close
                    </vs-button>
                </div>
            </template>
        </vs-dialog>

        <vs-dialog not-center blur v-model="dialog.imprint">
            <template #header>
                <h4 class="not-margin">Impressum</h4>
            </template>

            <div class="con-content">
                <h2>Angaben gemäß § 5 TMG</h2>
                <p>Kilian Domaratius
                    <br>Privatperson</p>
                <h2>Kontakt</h2>
                E-Mail: <a
                    href="mailto:info@tequilian.de?subject=tequilian.de%20|%20Ihr%20Anliegen"><strong>info@tequilian.de</strong></a>
                <h3>Haftung für Inhalte</h3>
                <p>
                    Als Diensteanbieter bin ich gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den
                    allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG bin ich als Diensteanbieter jedoch nicht
                    verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen
                    zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen.
                </p>
                <p>
                    Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen
                    Gesetzen bleiben hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der
                    Kenntnis einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden
                    Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.</p>
                <h3>Haftung für Links</h3>
                <p>
                    Mein Angebot enthält Links zu externen Websites Dritter, auf deren Inhalte ich keinen Einfluss
                    haben. Deshalb kann ich für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der
                    verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die
                    verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße überprüft.
                    Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar.</p>
                <p>
                    Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte
                    einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen werde ich derartige
                    Links umgehend entfernen.</p>
                <h3>Urheberrecht</h3>
                <p>
                    Die durch den Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem
                    deutschen Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung
                    außerhalb der Grenzen des Urheberrechtes bedürfen der schriftlichen Zustimmung des jeweiligen Autors
                    bzw. Erstellers. Downloads und Kopien dieser Seite sind nur für den privaten, nicht kommerziellen
                    Gebrauch gestattet.
                </p>
                <p>
                    Soweit die Inhalte auf dieser Seite nicht vom Betreiber erstellt wurden, werden die Urheberrechte
                    Dritter beachtet. Insbesondere werden Inhalte Dritter als solche gekennzeichnet. Sollten Sie
                    trotzdem auf eine Urheberrechtsverletzung aufmerksam werden, bitten wir um einen entsprechenden
                    Hinweis. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Inhalte umgehend entfernen.
                </p>
            </div>

            <template #footer>
                <div class="con-footer">
                    <vs-button @click="dialog.imprint=false" transparent>
                        Close
                    </vs-button>
                </div>
            </template>
        </vs-dialog>
    </div>

    <script src="https://unpkg.com/vue/dist/vue.js"></script>

    <!-- old Vuesax 3, TODO delete when Vuesax 4 ready-->
    <script src="https://unpkg.com/vuesax"></script>

    <script src="https://unpkg.com/vuesax@4.0.1-alpha.25/dist/vuesax.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/fast-xml-parser/3.16.0/parser.min.js'></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        const app = new Vue({
            el: '#app',
            data: {
                active: 0,
                feed: 'https://tequilian.de/feed/rss',
                feedItems: [],
                dialog: {
                    privacy: false,
                    imprint: false
                },
                contact: {
                    mailto: 'mailto:contact@kdomaratius.de?subject=Kontaktanfrage',
                    socials: {
                        xing: {
                            iconClass: 'fab fa-xing',
                            color: '#009090',
                            url: 'https://www.xing.com/profile/Kilian_Domaratius',
                            title: 'Xing'
                        },
                        linkedin: {
                            iconClass: 'fab fa-linkedin-in',
                            color: '#004182',
                            url: 'https://www.linkedin.com/in/kilian-domaratius/',
                            title: 'LinkedIn'
                        },
                        github: {
                            iconClass: 'fab fa-github',
                            color: '#ae3ec9',
                            url: 'https://github.com/despokd',
                            title: 'GitHub'
                        },
                        stackO: {
                            iconClass: 'fab fa-stack-overflow',
                            color: '#f48024',
                            url: 'https://stackoverflow.com/users/10036524/despokd',
                            title: 'Stack Overflow'
                        },
                        reddit: {
                            iconClass: 'fab fa-reddit',
                            color: '#ff4500',
                            url: 'https://www.reddit.com/user/despokd/',
                            title: 'Reddit'
                        }
                    }
                },
                skills: {
                    html: {
                        show: true,
                        iconClass: "fab fa-html5",
                        color: "#e44d26",
                        name: 'HTML',
                        percent: 90,
                        url: 'https://developer.mozilla.org/de/docs/Web/HTML/HTML5',
                        attachments: [],
                    },
                    css: {
                        show: true,
                        iconClass: "fab fa-css3",
                        color: "#264de4",
                        name: 'CSS',
                        percent: 80,
                        url: 'https://developer.mozilla.org/de/docs/Web/CSS',
                        attachments: [],
                    },
                    js: {
                        show: true,
                        iconClass: "fab fa-js",
                        color: "#f0d53b",
                        name: 'JavaScript',
                        percent: 50,
                        url: 'https://developer.mozilla.org/de/docs/Web/JavaScript',
                        attachments: [],
                    },
                    php: {
                        show: true,
                        iconClass: "fab fa-php",
                        color: "#7377ad",
                        name: 'PHP',
                        percent: 50,
                        url: 'https://www.php.net/',
                        attachments: [],
                    },
                    illustrator: {
                        show: true,
                        iconClass: "fas fa-bezier-curve",
                        color: "#f79500",
                        name: 'Illustrator',
                        percent: 40,
                        url: 'https://www.adobe.com/de/products/illustrator.html',
                        attachments: [],
                    },
                    photoshop: {
                        show: true,
                        iconClass: "fas fa-camera-retro",
                        color: "#31a8ff",
                        name: 'Photoshop',
                        percent: 30,
                        url: 'https://www.adobe.com/de/products/photoshop.html',
                        attachments: [],
                    },
                    wordpress: {
                        show: true,
                        iconClass: "fab fa-wordpress-simple",
                        color: "#0073aa",
                        name: 'WordPress',
                        percent: 66,
                        url: 'https://wordpress.org/',
                        attachments: [],
                    },
                    mysql: {
                        show: true,
                        iconClass: "fas fa-database",
                        color: "#00718b",
                        name: 'MySQL',
                        percent: 40,
                        url: 'https://www.mysql.com/',
                        attachments: [],
                    },
                    classicasp: {
                        show: true,
                        iconClass: "fas fa-server",
                        color: "#aaa",
                        name: 'Classic ASP',
                        percent: 30,
                        url: 'https://www.mysql.com/',
                        attachments: [],
                    },
                    smarty: {
                        show: true,
                        iconClass: "far fa-lightbulb",
                        color: "#f0c040",
                        name: 'Smarty (PHP)',
                        percent: 40,
                        url: 'https://www.smarty.net/',
                        attachments: [],
                    },
                    vue: {
                        show: true,
                        iconClass: "fab fa-vuejs",
                        color: "#42b983",
                        name: 'Vue.js',
                        percent: 40,
                        url: 'https://vuejs.org/',
                        attachments: [],
                    },
                    bootstrap: {
                        show: true,
                        iconClass: "fab fa-bootstrap",
                        color: "#7952b3",
                        name: 'Bootstrap',
                        percent: 80,
                        url: 'https://getbootstrap.com/',
                        attachments: [],
                    },
                    jquery: {
                        show: true,
                        iconClass: "",
                        color: "#0769ad",
                        name: 'jQuery',
                        percent: 40,
                        url: 'https://jquery.com/',
                        attachments: [],
                    },
                    prestashop: {
                        show: true,
                        iconClass: "fas fa-store",
                        color: "#ff0076",
                        name: 'PrestaShop',
                        percent: 66,
                        url: 'https://www.prestashop.com/',
                        attachments: [],
                    }
                },
                cv: {
                    afbb: {
                        show: true,
                        name: 'AFBB gGmbH / EventClass GmbH',
                        job: 'Ausbildung zum Fachinformatiker für Anwendungsentwicklung',
                        url: 'https://www.afbb.de',
                        hasImage: false,
                        isEducation: true,
                        isCertificate: false,
                        from: '2018',
                        to: '2021',
                        attachments: [],
                    },
                    tud: {
                        show: true,
                        name: 'TU Dresden',
                        job: 'Informatik Bachelor (angestrebt)',
                        url: 'https://tu-dresden.de/',
                        hasImage: false,
                        isEducation: true,
                        isCertificate: false,
                        from: '2016',
                        to: '2018',
                        attachments: [],
                    },
                    gymEf: {
                        show: true,
                        name: 'Johann Gutenberggymnasium Erfurt',
                        job: 'Abitur',
                        url: '',
                        hasImage: false,
                        isEducation: true,
                        isCertificate: false,
                        from: '2010',
                        to: '2016',
                        attachments: [],
                    },
                    praIbm: {
                        show: true,
                        name: 'IBM',
                        job: 'Schülerpraktikum',
                        url: 'https://www.ibm.com/',
                        hasImage: false,
                        isEducation: true,
                        isCertificate: false,
                        from: '2008',
                        to: '2008',
                        attachments: [],
                    }
                },
                blog: {
                    postsUrl: "https:/tequilian.de/wp-json/wp/v2/posts",
                    queryOptions: {
                        per_page: 6,    // Only retrieve the 10 most recent blog posts.
                        page: 1,        // Current page of the collection.
                        _embed: true    //Response should include embedded resources.
                    },
                    posts: []
                }
            },
            created: function () {
                this.getRecentBlogPosts();
            },
            computed: {
                orderedSkills: function () {
                    return _.orderBy(this.skills, 'percent', 'desc')
                },
                orderedJobs: function () {
                    return _.orderBy(this.cv, 'from', 'desc')
                }
            },
            methods: {
                getRecentBlogPosts() {
                    axios
                        .get(this.postsUrl, { params: this.queryOptions })
                        .then(response => {
                            this.posts = response.data;
                            console.log("Posts retrieved!");
                            console.log(this.posts);
                        })
                        .catch(error => {
                            console.log(error);
                        });
                },
            }
        })

        /* main colors
        Vue.use(Vuesax, {
            colors: {
                primary: '#5b3cc4',
                success: 'rgb(23, 201, 100)',
                danger: 'rgb(242, 19, 93)',
                warning: 'rgb(255, 130, 0)',
                dark: 'rgb(36, 33, 69)'
            }
        })
        */
    </script>
    <script src="js/script.js"></script>
</body>

</html>