html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

p,
dl {
  padding: 0 0 15px;
}

.align-center {
  align-self: center;
}

.img-responsive {
  width: 100%;
}

.portrait {
  transition: transform 0.5s ease-in;
}
.portrait:hover {
  transform: rotateY(180deg);
}

/** progresses */
progress,
progress::-moz-progress-bar,
progress::-webkit-progress-bar,
progress::-webkit-progress-value {
  border: 0;
  border-radius: 0;
  margin-bottom: 1px;
}
progress {
  background-color: white;
  width: 100%;
}
progress::-moz-progress-bar {
  background-color: var(--cds-interactive-01);
}
progress::-webkit-progress-bar {
  background-color: white;
}
progress::-webkit-progress-value {
  background-color: var(--cds-interactive-01);
}
label progress {
  margin-top: var(--cds-spacing-03);
}

/** texts */
.slogan {
  margin-bottom: var(--cds-spacing-04);
}

.description {
  margin-bottom: var(--cds-spacing-02);
}

/** social buttons */
.socials .bx--btn {
  margin-bottom: var(--cds-spacing-02);
}
.socials .bx--btn:not(.cta) {
  margin-right: var(--cds-spacing-02);
}

/** sections */
.skill a,
.employment a {
  color: white;
  text-decoration: none;
}
.skill a .bx--tile,
.employment a .bx--tile {
  transition: 0.1s ease-in;
}
.skill a:hover .bx--tile,
.skill a:focus .bx--tile,
.employment a:hover .bx--tile,
.employment a:focus .bx--tile {
  -webkit-box-shadow: 0 0 20px -7px rgba(15, 98, 254, 0.8);
  -moz-box-shadow: 0 0 20px -7px rgba(15, 98, 254, 0.8);
  box-shadow: 0 0 20px -7px rgba(15, 98, 254, 0.8);
}
.skill a:hover .bx--tile,
.skill a:focus .bx--tile {
  transform: scale(1.05);
}
.employment a:hover .bx--tile,
.employment a:focus .bx--tile {
  transform: scale(1.015);
}

.employment {
  margin-bottom: var(--cds-spacing-04);
}
